.container {
  width: 100%;
  max-height: max-content;
  display: flex;
  scroll-snap-align: start;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 10px solid black;
  border-radius: 20px;
  margin-left: 3%;
  margin-bottom: 3%;
}

.container:active {
  background: rgba(191, 90, 242, 0.3);
}

.image {
  margin-top: 1.5%;
  max-width: 90%;
  height: auto;
  flex: 1;
  object-fit: fill;
}

.title {
  max-width: 75%;
  word-wrap: break-word;
  word-break: break-all;
  text-align: center;
  margin-top: 0;
  white-space: normal;
  font-size: 2.0rem;
  margin-bottom: 0;
  font-weight: bold;
}
