.mainContainer{
    display: flex;
    flex-direction: row;
    padding: 1rem;
    gap: 20%;
    
}
.finalMainContainer{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: rgba(232, 147, 207, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.aboutCsiContainer{
    max-width: 40%;
    display: flex;
    flex-direction: column;
}
.aboutFfcsContainer{
    max-width: 40%;
    display: flex;
    flex-direction: column;
}