body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
html{
  /* overflow-x: hidden; */
}

.mainflexbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slotsContainer {
  flex-wrap: wrap;
  gap: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainflexbox2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.courseTypeContainer::-webkit-scrollbar {
  display: none;
}

.courseTypeContainer {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 1rem;
  padding-bottom: 1rem;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

.inputCourseNameContainer {
  display: flex;
  flex-direction: column;
  gap: 50%;
  align-items: center;
}

.inputCourseName {
  border: none;
  font-size: 1.2rem;
  border-bottom: 2px solid #000;
  opacity: 45%;
}

.ttBtnContainer {
  display: flex;
  align-items: center;
  gap: 45%;
  flex-direction: column;
}

.exportBtn {
  height: fit-content;
  padding: 0.75rem;
  font-size: 1rem;
  margin: 0.4rem;
  border-radius: 10px;
  font-weight: 600;
  background: #bf5af2;
  color: #fff;
  border: none;
}

.arrow {
  cursor: pointer;
  width: 1.0rem;
  height: 1.0rem;
  transition: transform 0.3s ease;
}

.dropdownContent {
  transition: opacity 0.3s ease, visibility 0s linear 0.3s;
  border-radius: 10px;
  min-width: 30%;
  position: absolute;
  top: 100%;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dropdownContent p {
  font-size: large;
  margin: 0;
  padding: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dropdownContent p:hover {
  background-color: #ddd;
}

.timetableNumberContainer {
  position: relative;
  gap: 1rem;
  flex-direction: row-reverse;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Btn {
  height: fit-content;
  padding: 0.75rem;
  font-size: 1rem;
  margin: 0.4rem;
  border-radius: 10px;
  font-weight: 600;
  background: #bf5af2;
  color: #fff;
  border: none;
}

.inputContainer {
  display: flex;
  flex-direction: row-reverse;
  margin: 1rem;
}

.searchIcon {
  opacity: 30%;
  width: 48px;
  height: 48px;
}
.timetableTitle{
  display: inline-block;
  margin-top: 1rem;
  font-size: .0rem;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 3%;
  font-weight: bold;
  color: #bf5af2;
}
.title {
  display: inline-block;
  margin-top: 1rem;
  font-size: 3.0rem;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 3%;
  font-weight: bold;
}

.snapsInline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 2%;
}

@media (min-width: 550px) {
  .mainflexbox {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slotsContainer {
    flex-wrap: wrap;
    gap: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mainflexbox2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .courseTypeContainer::-webkit-scrollbar {
    display: none;
  }

  .courseTypeContainer {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 1rem;
    padding-bottom: 1rem;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
  }

  .inputCourseNameContainer {
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: center;
  }

  .inputCourseName {
    border: none;
    font-size: 1.2rem;
    border-bottom: 2px solid #000;
    opacity: 45%;
  }

  .ttBtnContainer {
    display: flex;
    align-items: center;
    gap: 15%;
    flex-direction: row;
  }

  .exportBtn {
    height: fit-content;
    padding: 0.75rem;
    font-size: 1rem;
    margin: 0.4rem;
    border-radius: 10px;
    font-weight: 600;
    background: #bf5af2;
    color: #fff;
    border: none;
  }

  .arrow {
    cursor: pointer;
    width: 1.0rem;
    height: 1.0rem;
    transition: transform 0.3s ease;
  }

  .dropdownContent {
    transition: opacity 0.3s ease, visibility 0s linear 0.3s;
    border-radius: 10px;
    min-width: 30%;
    position: absolute;
    top: 100%;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .dropdownContent p {
    font-size: large;
    margin: 0;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .dropdownContent p:hover {
    background-color: #ddd;
  }

  .timetableNumberContainer {
    position: relative;
    gap: 1rem;
    flex-direction: row-reverse;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Btn {
    height: fit-content;
    padding: 0.75rem;
    font-size: 1rem;
    margin: 0.4rem;
    border-radius: 10px;
    font-weight: 600;
    background: #bf5af2;
    color: #fff;
    border: none;
  }

  .inputContainer {
    display: flex;
    flex-direction: row-reverse;
    margin: 1rem;
  }

  .searchIcon {
    opacity: 30%;
    width: 48px;
    height: 48px;
  }

  .title {
    display: inline-block;
    margin-top: 1rem;
    font-size: 3.0rem;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 3%;
    font-weight: bold;
  }

  .snapsInline {
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 2%;
  }
}
