body{
    font-family: -apple-system, system-ui, BlinkMacSystemFont;
    overflow-y: hidden;
}
.parent{
  
}
.container{
    position: absolute;
    /* width: 900px; */
    top: 25%;
    left: 35%;
    /* background: #007AFF; */
    /* right:35%; */
    display: inline-flex;
    flex-direction: column;
    
}
.header{
    font-size: 3.5rem;
    margin: 0px;
}
.step{
    margin:0px;
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.step-number{
    display: inline;
    opacity: 45%;
}
.username-txt{
    font-size: 3.0rem;
    margin-bottom: 40px;
}
.username-field{
    border: none;
    font-size: 1rem;
  border-bottom: 2px solid #000 ;
  margin-bottom: 50px;
  opacity: 45% ;

}
.continue-btn{
    height: 30px;
    border-radius: 10px;
    /* margin-top: 5%; */
    font-weight: 600;
    background: #007AFF;
    color: #FFF;
    border: none;
}

/*  PASSWORD STYLING !!!!!!!!!!!!!! */