.navbar {
    position: relative;
    margin-top: 3%;
    width: 85%;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background-color: #f2f2f2;
    transition: all 0.3s ease;
}
.logoContainer{
    display: inline-flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.heading {
    font-size: 1.5rem;
    font-weight: bold;
}
  
.navLinks {
    list-style: none;
    display: flex;
}
  
.navItem {
    margin-right: 20px;
    cursor: pointer;
}
@media (max-width: 420px) {
    .logo{
        width: 42px;
        height: 42px;
    }
    .navbar {
        gap: 1rem;
        position: relative;
        margin-top: 3%;
        width: 85%;
        border-radius: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* padding: 8px; */
        background-color: #f2f2f2;
        transition: all 0.3s ease;
    }
    .logoContainer{
        display: inline-flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        gap: 1em;
    }
    .heading {
        font-size: 1.0rem;
        font-weight: bold;
    }
      
    .navLinks {
        word-break: keep-all;
        list-style: none;
        margin-left: 0px;
        width: 100%;
        display: flex;
    }
      
    .navItem {
        margin-right: 10px;
        cursor: pointer;
    }
}

  