.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background-color: #f2f2f2;
    transition: all 0.3s ease;
  }
  
  .heading {
    font-size: 20px;
    font-weight: bold;
  }
  
  .navLinks {
    list-style: none;
    display: flex;
  }
  
  .navItem {
    margin-right: 20px;
    cursor: pointer;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .sticky .navbar {
    padding:8px;
  }
  
  .sticky .logo {
    font-size: 20px;
  }
  