.SubjectSelection {
  margin: auto;
  width: 100%;
  border-spacing: 0.6rem 0.3rem;
  font-size: 1.0rem;
  display: table;
  background-repeat: no-repeat;

}
.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
}
.paginationButton{
  padding: 0.5em 1em;
  font-size: 1rem;
  margin: 0.4rem;
  border-radius: 10px;
  font-weight: 600;
  color: #fff;
  background-color: var(--secondary);
  border: 0.3rem solid var(--secondary);
  transition: all 150ms ease-in-out;
}
.tableHeadings {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-weight: 700;
  color: black;
  padding: 1rem;
  border-radius: 10px;
}
.tableData {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-weight: 400;
  color: black;
  text-align: center;
  padding: 1rem;
  border-radius: 10px;
}
.SubjectSelectionContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin-bottom: 100px;
}
@media (max-width:450px){
  .SubjectSelection {
    margin: auto;
    /* margin-left: 25px; */
    overflow-x: scroll;
    width: 100vw;
    border-spacing: 0.6rem 0.3rem;
    font-size: 1.0rem;
    display: table;
    /* justify-content: center;
    align-items: center; */
  }
  .tableHeadings {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-weight: 700;
    color: black;
    padding: 1rem;
    border-radius: 10px;
  }
  .tableData {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-weight: 400;
    color: black;
    text-align: center;
    padding: 1rem;
    border-radius: 10px;
  }
  .SubjectSelectionContainer {
    overflow-x: scroll;
    /* width: max-content; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 100px;
  }
  
}