.timetable{
    border-spacing: 0.6rem 0.3rem;
   font-size: 1.2rem;
    display: table; 
    justify-content: center;
    align-items: center;
}
/* .head{

} */
.slots{
    margin: 10rem;
    text-align: center;
    font-weight: 400;
    color: white;
    padding: 1rem;
    border-radius: 10px;
background-image: url('../../public/J slot.svg');
/* object-fit: cover; */
background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.thoeryTimings{
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
    font-weight: 400;
    color: white;
    padding: 1rem;
    border-radius: 10px;
background-image: url('../../public/J slot.svg');
}
.lunch::after{
    content:"Lunch";
    text-align: center;
}
.timetableContainer{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}